# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/
.settings/
*.code-workspace

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.local
.env.development
.env.test
.env.production

# Windows
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code folders
.vscode/
